In [3]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [4]:
import os 
import glob 

files = glob.glob('data/*')
dfs = {}

for i, file in enumerate(files):
    dfs[i] = pd.read_csv(file)
    print(f'{file}\n{dfs[i].head(2)}')

data\jester_items.csv
   jokeId                                           jokeText
0       1  A man visits the doctor. The doctor says "I ha...
1       2  This couple had an excellent relationship goin...
data\jester_ratings.csv
   userId  jokeId  rating
0       1       5   0.219
1       1       7  -9.281

In [5]:
dfs[0].head(1), dfs[1].head(1)

(   jokeId                                           jokeText
 0       1  A man visits the doctor. The doctor says "I ha...,
    userId  jokeId  rating
 0       1       5   0.219)

In [10]:
rating_df = dfs[1][:10000]
jokes_df = dfs[0]

In [11]:
rating_df.columns, jokes_df.columns

(Index(['userId', 'jokeId', 'rating'], dtype='object'),
 Index(['jokeId', 'jokeText'], dtype='object'))

In [12]:
rating_df = rating_df.rename(columns={'userId':'user_id:token',
                                      'jokeId':'item_id:token',
                                      'rating':'rating:float'})
rating_df.head(1)

   user_id:token  item_id:token  rating:float
0              1              5         0.219

In [13]:
# rating_df['item_id:token'] 
# rating_df['user_id:token']
rating_df['rating:float']

0       0.219
1      -9.281
2      -9.281
3      -6.781
4       0.875
        ...
9995    5.688
9996    5.344
9997   -6.625
9998    5.000
9999    6.062
Name: rating:float, Length: 10000, dtype: float64

In [16]:
rating_df['rating:float'].value_counts()

rating:float
 9.969     73
-9.844     67
 9.938     65
 10.000    48
 9.906     46
           ..
-4.938      4
-4.969      3
-7.875      3
-7.406      3
-7.250      2
Name: count, Length: 641, dtype: int64

In [18]:
rating_df.to_csv('joke/joke.inter', index=False, sep='\t')